extends userLayout

block content-head
    title Purchase a Course

block content-body
    main.main-content
        h1 Purchase a Course
        .background-container
    main
        section.intro
            h1 Our Courses
            p Explore our wide range of courses to enhance your skills and knowledge.

        section.courses-container(id="courseList")
            // Course cards will be dynamically injected here via JavaScript

        #topicModal.modal
            .modal-content
                span.close(onclick="closeModal()") &times;
                h2#courseTitle
                #courseTopic
                form#userForm.user-form
                    input(type="text", id="userId", placeholder="User ID", required)
                    input(type="text", id="name", placeholder="Name", required)
                    input(type="email", id="email", placeholder="Email", required)
                    input(type="date", id="enrollmentDate", required)
                    select#role(required)
                        option(value="") Select Role
                        option(value="student") Student
                        option(value="instructor") Instructor
                    button(type="submit") Submit

    script(src="/assets/js/courseScripts.js")